{% extends "base.html" %}
{% block content %}


 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<div class="container">   

  <form> 
    <div class="box_1">
         <h1> 당신이 먹은 음식은? </h1>
         <ul class="navbar-nav ml-auto">
           <li class="nav-item">
                {% for x in value%}
                 <p>
                    <img src="{{ url_for('static', filename = x.image) }}" class="img-thumbnail" alt="Cinque Terre" width="175" height="175">
                 </p>
                {% endfor %}
                <p>
                  <div class="image-container">
                    <img style="width: 700px; height:auto;" id="preview-image" src="https://dummyimage.com/500x500/ffffff/000000.png&text=preview+image">
                    <input style="display: block;" type="file" id="input-image">
                    <button class="button_1" onclick="location.href='/' " >뒤로가기</button>
                    <button class="button_1" onclick="return confirm('제출 성공! \n업로드한 이미지를 확인합니다.');">제출하기</button>
                  </div>
                </p>
           </li>
         </ul>
    </div>
    <div class="box_2">
        <div class="box_3 box2">
           <!-- <h1> 그래프 삽입 </h1> -->
           <img src="{{ url_for('fig') }}" alt="Image Placeholder" width='280', height='590'>
        </div>   
        <button class="button_2" onclick="window.location.reload()">새로고침</button>
    </div>   
  </form>
</div>  

<script src="http://madalla.kr/js/jquery-1.8.3.min.js"></script>

<script type="text/javascript">
  function readImage(input) {
    // 인풋 태그에 파일이 있는 경우
    if(input.files && input.files[0]) {
        // 이미지 파일인지 검사 (생략)
        // FileReader 인스턴스 생성
        const reader = new FileReader()
        // 이미지가 로드가 된 경우
        reader.onload = e => {
            const previewImage = document.getElementById("preview-image")
            previewImage.src = e.target.result
        }
        // reader가 이미지 읽도록 하기
        reader.readAsDataURL(input.files[0])
    }
}
// input file에 change 이벤트 부여
const inputImage = document.getElementById("input-image")
inputImage.addEventListener("change", e => {
    readImage(e.target)
})
</script>

{% endblock %}