{% extends "base.html" %}
{% block content %}


<div class="box">
        <h1>회원가입</h1>
        <form action="/check2" method="post">
            <input type="text" name="Email" placeholder="이메일" required="required" />
            <input type="text" name="name" placeholder="성명" required="required" />
            <input type="password" name="pw" placeholder="비밀번호" required="required" />
            <input type="password" name="pw2" placeholder="비밀번호 확인" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">가입완료</button>
        </form>
</div>


{% endblock %}