{% extends "base.html" %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<div id="app">
<div class="box_5">
    <h1>내정보</h1>
        <div class="row">
            <div class="col">
                <p><strong>
                <!-- {% if session['Email'] %}
                    이메일 <input type="text" name="Email" placeholder="이메일" value='{{session["Email"]}}'required="required" readonly/>
                {% endif %} -->
                </strong></p>
                <p><strong>나이
                    <input type="text" id="age" name="age" placeholder="나이" required="required"/>
                </strong></p>
                <p><strong>성별
                    <div class ="pagination">
                        <div class="btn-group" data-toggle="buttons" style="margin-bottom:20px;">
                            <label class="btn btn-primary active">
                                <input type="radio" name="sex" id="sex1" value="M" autocomplete="off" > 남성
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="sex" id="sex2" value="F" autocomplete="off"> 여성
                            </label>
                        </div> 
                    </div>   
                </strong></p>
                <p><strong>체중(Kg)
                    <input type="text" id="weight" name="weight" placeholder="체중" required="required" style="margin-bottom:20px;"/>
                </strong></p>
                <p><strong>신장(cm)
                    <input type="text" id="height" name="height" placeholder="신장(키)" required="required" style="margin-bottom:20px;"/>
                </strong></p>
                <p><strong>운동횟수(주)
                    <div class ="pagination">
                        <div class="btn-group" data-toggle="buttons" style="margin-bottom:20px;">
                            <label class="btn btn-primary active">
                                <input type="radio" name="exercise" id="exercise1" value="1" autocomplete="off"> 주2회이하
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="exercise" id="exercise2" value="2" autocomplete="off"> 주3회
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="exercise" id="exercise3" value="3" autocomplete="off"> 주4회
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="exercise" id="exercise4" value="4" autocomplete="off"> 주5회이상
                            </label>
                        </div>
                    </div>   
                </strong></p>
                <p><strong>음주(1회)
                    <div class ="pagination">
                        <div class="btn-group" data-toggle="buttons" style="margin-bottom:20px;">
                            <label class="btn btn-primary active">
                                <input type="radio" name="drink" id="drink1" value="1" autocomplete="off"> 소주반병이하
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="drink" id="drink2" value="2" autocomplete="off"> 1병이하
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="drink" id="drink3" value="3" autocomplete="off"> 1.5병정도
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="drink" id="drink4" value="4" autocomplete="off"> 2병정도
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="drink" id="drink5" value="5" autocomplete="off"> 2.5병이상
                            </label>
                        </div>
                    </div>
                </strong></p>    
                <p><strong>기저질환
                    <div class ="pagination">
                        <div class="btn-group" data-toggle="buttons" style="margin-bottom:20px;">
                            <label class="btn btn-primary active">
                                <input type="radio" name="disease" id="disease1" value="Y" autocomplete="off"> Y(예)
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="disease" id="disease2" value="N" autocomplete="off"> N(아니오)
                            </label>
                        </div> 
                    </div>                           
                </strong></p> 
                <p><strong>흡연여부</strong></p>
                    <div class ="pagination">
                        <div class="btn-group" data-toggle="buttons" style="margin-bottom:20px; ">
                            <label class="btn btn-primary active">
                                <input type="radio" name="smoke" id="smoke1" value="Y" autocomplete="off" checked> Y(예)
                            </label>
                            <label class="btn btn-primary active">
                                <input type="radio" name="smoke" id="smoke2" value="N" autocomplete="off"> N(아니오)
                            </label>
                        </div>
                    </div>       
                 </strong></p> 
                 <div class ="pagination">
                     <button type="submit" class="custom-btn btn-10 btn-large" v-on:click="test_post()">저장하기</button>
                     <button type="button" class="custom-btn btn-10 btn-large" onclick="location.href='{{ url_for('mainpage') }}'">메인으로</button>
                </div>
          </div> 
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    const app = new Vue({
      el: "#app",
      methods: {
        test_get: () => {
          axios("http://13.112.232.65:8999/user/", {
            method: "post",
            data: {
              user_id: document.getElementById('user_id').value,
              user_pw: document.getElementById('user_pw').value,
              token: localStorage.getItem('token')
            },
          })
            .then((response) => {
              console.log(response.data)
              if (response.data == true) {
                localStorage.setItem('token', response.data['token']);
                alert('login success');
                window.location.href = 'http://localhost:8989/mainpage';
              } else {
                alert('change ID');
                window.location.href = 'http://localhost:8989/login';
              }
            })
            .catch((error) => {
              console.log(error);
            });
        },
        test_post: () => {
          axios("http://13.112.232.65:8999/user_info/", {
            method: "post",
            data: {
                user_email: decodeURIComponent(document.cookie),
                user_age: document.getElementById('age').value,
                user_sex: $("input[type='radio'][name='sex']:checked").val(),
                user_weight: document.getElementById('weight').value,
                user_height: document.getElementById('height').value,
                user_exercise: $("input[type='radio'][name='exercise']:checked").val(),
                user_disease: $("input[type='radio'][name='disease']:checked").val(),
                user_drink: $("input[type='radio'][name='drink']:checked").val(),
                user_smoke: $("input[type='radio'][name='smoke']:checked").val(),
            },
          })
            .then((response) => {
              console.log(response.data)
            })
            .catch((error) => {
              console.log(error);
            });
        },
  
        test_put: () => {
          axios("http://13.112.232.65:8999/user_account/", {
            method: "put",
            data: {
              user_email: document.getElementById('user_email').value,
              user_pw: document.getElementById('user_pw').value,
            },
          })
            .then((response) => {
              console.log(response.data)
              if (response.data['status'] == true) {
                alert('welcome');
                window.location.href = 'http://localhost:2888/mainpage';
              } else {
                alert('change ID');
                window.location.href = 'http://localhost:2888/login';
              }
            })
            .catch((error) => {
              console.log(error);
            });
        },
        test_delete: () => {
          axios("http://13.112.232.65:8999/user/", {
            method: "delete",
          })
            .then((response) => {
              console.log(response.data)
              if (response.data == true) {
                alert('See you later');
                window.location.href = 'http://localhost:8989/';
              } else {
                alert('retry');
                window.location.href = 'http://localhost:8989/login';
              }
            })
            .catch((error) => {
              console.log(error);
            });
        },
      },
    });
  </script>
  

{% endblock %}