{% extends "login_base.html" %}
{% block content %}

<div class="box" id="app">
    <h1>로그인</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
         <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <!-- <form action="/check" method="post"> -->
        <!-- <input type="text" id="user_id" name="user_id" placeholder="이메일" required="required"/> -->
        <input type="email" id="user_email" name="user_email" placeholder="이메일" required="required"/>
        <input type="password" id="user_pw" name="pw" placeholder="비밀번호" required="required"/>
        <div class="pagination">
          <button type="button" class="custom-btn btn-11 btn-large" onclick="location.href='{{ url_for('check2') }}'">회원가입</button>
          <button type="submit" class="custom-btn btn-11 btn-large" v-on:click="test_post()">로그인</button>
        </div>  
    <!-- </form> -->
</div>

<!-- <div id="app">
  <br />
  <center>
    <input type="text" id="user_id">
    <input type="text" id="user_pw">
    <button type="button" class="btn btn-secondary" v-on:click="test_post()">
      POST
    </button>

    <input type="text" id="user_id2">
    <input type="text" id="user_pw2">
    <button type="button" class="btn btn-secondary" v-on:click="test_put()">
      PUT
    </button>

    <button type="button" class="btn btn-secondary" v-on:click="test_delete()">
      DELETE
    </button>
  </center>
</div> -->

<!-- Vue Start -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  const app = new Vue({
    el: "#app",
    methods: {
      test_get: () => {
        axios("http://13.112.232.65:8999/user/", {
          method: "post",
          data: {
            user_id: document.getElementById('user_id').value,
            user_pw: document.getElementById('user_pw').value,
            token: localStorage.getItem('token')
          },
        })
          .then((response) => {
            console.log(response.data)
            if (response.data == true) {
              localStorage.setItem('token', response.data['token']);
              alert('login success');
              window.location.href = 'http://localhost:8989/mainpage';
            } else {
              alert('change ID');
              window.location.href = 'http://localhost:8989/login';
            }
          })
          .catch((error) => {
            console.log(error);
          });
      },
      test_post: () => {
        axios("http://13.112.232.65:8999/user_account/", {
          method: "post",
          data: {
            user_email: document.getElementById('user_email').value,
            user_pw: document.getElementById('user_pw').value,
          },
        })
          .then((response) => {
            console.log(response.data)
            if (response.data['status'] == true) {
              $.cookie('token', response.data['token'])
              $.cookie('user_email', response.data['user_email']);
              alert('login success');
              window.location.href = 'http://localhost:2888/test';
            } else {
              if (response.data['massage'] == 'ID') {
                alert('change ID');
                window.location.href = 'http://localhost:2888/login';
              } else {
                alert('change PW');
                window.location.href = 'http://localhost:2888/login';
              }

            }
          })
          .catch((error) => {
            console.log(error);
          });
      },

      test_put: () => {
        axios("http://13.112.232.65:8999/user_account/", {
          method: "put",
          data: {
            user_email: document.getElementById('user_email').value,
            user_pw: document.getElementById('user_pw').value,
          },
        })
          .then((response) => {
            console.log(response.data)
            if (response.data['status'] == true) {
              alert('welcome');
              window.location.href = 'http://localhost:2888/mainpage';
            } else {
              alert('change ID');
              window.location.href = 'http://localhost:2888/login';
            }
          })
          .catch((error) => {
            console.log(error);
          });
      },
      test_delete: () => {
        axios("http://13.112.232.65:8999/user/", {
          method: "delete",
        })
          .then((response) => {
            console.log(response.data)
            if (response.data == true) {
              alert('See you later');
              window.location.href = 'http://localhost:8989/';
            } else {
              alert('retry');
              window.location.href = 'http://localhost:8989/login';
            }
          })
          .catch((error) => {
            console.log(error);
          });
      },
    },
  });
</script>


{% endblock %}