{% extends "base.html" %}
{% block content %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<div class="container">   


    <div class="box_1">
      <h1> 오늘의 식단은? </h1>
       <form class="form-signin" action="/detection" method="POST" enctype="multipart/form-data">
        <div class="box_1 box7">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <p>
                  <div class="image-container">
                      <img style="width: 75%; height:500px" id="preview-image" src="http://placeimg.com/480/480/nature">
                      <input style="display: block;" type="file" name="inputfile" id="input-image">
                  </div>
                </p>
              </li>
            </ul>
        </div>
        <button class="custom-btn btn-9" type="button" style="float:right" onclick="location.href='{{ url_for('mealinfo') }}'" >결과보기</button>
        <button class="custom-btn btn-9" type="submit" style="float:right" onclick="confirm('제출 성공! \n업로드한 이미지를 확인합니다.');">제출</button>
      </form> 
    </div>

    
    <div class="box_2">
        <h1> Graph of the week </h1>
          <img src="{{ url_for('fig') }}" alt="Image Placeholder" width='380', height='580'>
        <!-- <div class="box_3 box2">
        </div>    -->
        <button class="custom-btn btn-9" onclick="window.location.reload()">업데이트</button>
    </div>  
    <div class="box_6">
      <h1> Today Calories </h1>
        <style type="text/css">
          .tg  {border-collapse:collapse;border-color:#aabcfe;border-spacing:0;}
          .tg td{background-color:#e8edff;border-color:#aabcfe;border-style:solid;border-width:1px;color:#669;
            font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
          .tg th{background-color:#b9c9fe;border-color:#aabcfe;border-style:solid;border-width:1px;color:#039;
            font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
          .tg .tg-ss6j{font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif !important;font-weight:bold;text-align:center;
            vertical-align:top}
          </style>
          <table class="tg" width="100%" height="100%">
          <thead>
            <tr>
              <th class="tg-ss6j">구분</th>
              <th class="tg-ss6j">기준표</th>
              <th class="tg-ss6j">오늘 기준</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tg-ss6j">칼로리</td>
              <td class="tg-ss6j">{{ value1 }}</td>
              <td class="tg-ss6j"></td>

            </tr>
            <tr>
              <td class="tg-ss6j">탄수화물</td>
              <td class="tg-ss6j">{{ value2 }}</td>
              <td class="tg-ss6j"></td>
            </tr>
            <tr>
              <td class="tg-ss6j">당류(g)</td>
              <td class="tg-ss6j">{{ value3 }}</td>
              <td class="tg-ss6j"></td>
            </tr>
            <tr>
              <td class="tg-ss6j">지방(g)</td>
              <td class="tg-ss6j">{{ value4 }}</td>
              <td class="tg-ss6j"></td>
            </tr>
            <tr>
              <td class="tg-ss6j">단백질(g)</td>
              <td class="tg-ss6j">{{ value5 }}</td>
              <td class="tg-ss6j"></td>
            </tr>
            <tr>
              <td class="tg-ss6j">칼슘(mg)</td>
              <td class="tg-ss6j">{{ value6 }}</td>
              <td class="tg-ss6j"></td>
            </tr>
            <tr>
              <td class="tg-ss6j">인(mg)</td>
              <td class="tg-ss6j">{{ value7 }}</td>
              <td class="tg-ss6j"></td>
            </tr>
            <tr>
              <td class="tg-ss6j">나트륨(mg)</td>
              <td class="tg-ss6j">{{ value8 }}</td>
              <td class="tg-ss6j"></td>
            </tr>
            <tr>
              <td class="tg-ss6j">칼륨(mg)</td>
              <td class="tg-ss6j">{{ value9 }}</td>
              <td class="tg-ss6j"></td>
            </tr>
            <tr>
              <td class="tg-ss6j">마그네슘(mg)</td>
              <td class="tg-ss6j">{{ value10 }}</td>
              <td class="tg-ss6j"></td>
            </tr>
            <tr>
              <td class="tg-ss6j">철(mg)</td>
              <td class="tg-ss6j">{{ value11 }}</td>
              <td class="tg-ss6j"></td>
            </tr>
            <tr>
              <td class="tg-ss6j">아연(mg)</td>
              <td class="tg-ss6j">{{ value12 }}</td>
              <td class="tg-ss6j"></td>
            </tr>
            <tr>
              <td class="tg-ss6j">콜레스테롤(g)</td>
              <td class="tg-ss6j">{{ value13 }}</td>
              <td class="tg-ss6j"></td>
            </tr>
            <tr>
              <td class="tg-ss6j">트랜스지방(g)</td>
              <td class="tg-ss6j">{{ value14 }}</td>
              <td class="tg-ss6j"></td>
            </tr>
          </tbody>
          </table>
      <button class="custom-btn btn-9" onclick="window.location.reload()">업데이트</button>
    </div>  

</div>  

<script src="http://madalla.kr/js/jquery-1.8.3.min.js"></script>

<script type="text/javascript">
  function readImage(input) {
    // 인풋 태그에 파일이 있는 경우
    if(input.files && input.files[0]) {
        // 이미지 파일인지 검사 (생략)
        // FileReader 인스턴스 생성
        const reader = new FileReader()
        // 이미지가 로드가 된 경우
        reader.onload = e => {
            const previewImage = document.getElementById("preview-image")
            previewImage.src = e.target.result
        }
        // reader가 이미지 읽도록 하기
        reader.readAsDataURL(input.files[0])
    }
}
// input file에 change 이벤트 부여
const inputImage = document.getElementById("input-image")
inputImage.addEventListener("change", e => {
    readImage(e.target)
})
</script>

{% endblock %}