{% extends "base.html" %}
{% block content %}

<div id="app">
  <div class="box">
    <h1 style="margin-bottom: 50px;">회원가입</h1>
    <form action="/check2" method="post">
        <input type="text" name="Email" placeholder="이메일" required="required" style="margin-bottom: 20px;"/>
        <input type="text" name="name" placeholder="성명" required="required" style="margin-bottom: 20px;"/>
        <input type="password" name="pw" placeholder="비밀번호" required="required" style="margin-bottom: 20px;"/>
        <input type="password" name="pw2" placeholder="비밀번호 확인" required="required" style="margin-bottom: 20px;"/>
        <button type="submit" class="custom-btn btn-11 btn-large" style="float:right">가입완료</button>
    </form>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
  const app = new Vue({
    el: "#app",
    methods: {
      test_get: () => {
        axios("http://13.112.232.65:8999/user/", {
          method: "post",
          data: {
            user_id: document.getElementById('user_id').value,
            user_pw: document.getElementById('user_pw').value,
            token: localStorage.getItem('token')
          },
        })
          .then((response) => {
            console.log(response.data)
            if (response.data == true) {
              localStorage.setItem('token', response.data['token']);
              alert('login success');
              window.location.href = 'http://localhost:8989/mainpage';
            } else {
              alert('change ID');
              window.location.href = 'http://localhost:8989/login';
            }
          })
          .catch((error) => {
            console.log(error);
          });
      },
      test_post: () => {
        axios("http://13.112.232.65:8999/user_account/", {
          method: "put",
          data: {
            user_email: document.getElementById('user_email').value,
            user_name: document.getElementById('user_name').value,
            user_pw: document.getElementById('user_pw').value,
            user_pw2: document.getElementById('user_pw2').value,
          },
        })
          .then((response) => {
            console.log(response.data)
            if (response.data['status'] == true) {
              localStorage.setItem('token', response.data['token']);
              alert('login success');
              window.location.href = 'http://localhost:2888/mainpage';
            } else {
              if (response.data['massage'] == 'ID') {
                alert('change ID');
                window.location.href = 'http://localhost:2888/login';
              } else {
                alert('change PW');
                window.location.href = 'http://localhost:2888/login';
              }

            }
          })
          .catch((error) => {
            console.log(error);
          });
      },

      test_put: () => {
        axios("http://13.112.232.65:8999/user_account/", {
          method: "put",
          data: {
            user_email: document.getElementById('user_email').value,
            user_pw: document.getElementById('user_pw').value,
          },
        })
          .then((response) => {
            console.log(response.data)
            if (response.data['status'] == true) {
              alert('welcome');
              window.location.href = 'http://localhost:2888/mainpage';
            } else {
              alert('change ID');
              window.location.href = 'http://localhost:2888/login';
            }
          })
          .catch((error) => {
            console.log(error);
          });
      },
      test_delete: () => {
        axios("http://13.112.232.65:8999/user/", {
          method: "delete",
        })
          .then((response) => {
            console.log(response.data)
            if (response.data == true) {
              alert('See you later');
              window.location.href = 'http://localhost:8989/';
            } else {
              alert('retry');
              window.location.href = 'http://localhost:8989/login';
            }
          })
          .catch((error) => {
            console.log(error);
          });
      },
    },
  });
</script>

{% endblock %}